@import "./../styles/settings/fonts.scss";

.imageLeft {
     position: relative;
     max-width: 545px;
     height: 459px;
     width: 100%;
}
.imageRight {
     position: relative;
     max-width: 775px;
     width: 100%;
     height: 459px;
}
