@import "./../styles/settings/fonts.scss";
.home_section2 {
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 56px;
     h2 {
          font-family: $primary-font;
          font-size: $text-xl-font;
          font-weight: $text-weight;
          line-height: 1.05;
          margin-bottom: 24px;
     }
     p {
          font-family: $secondary-font;
          font-size: $text-md-font;
          font-weight: $text-weight;
          line-height: 1.66;
     }
}
.steps {
     text-align: center;
     margin-bottom: 97px;
     h3 {
          font-family: $primary-font;
          font-size: $text-lg-font;
          font-weight: 600;
          margin-bottom: 24px;
     }
}
.number {
     position: relative;
     text-align: center;
     width: 72px;
     height: 72px;
     background-color: var(--cream);
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 24px;
     z-index: 1;
     span {
          position: absolute;
          font-family: $primary-font;
          font-size: $text-lg-font;
          line-height: 2.1;
          left: 0;
          right: 0;
          top: auto;
          bottom: auto;
     }
}
.progressline {
     display: block;
     position: absolute;
     top: 39%;
     right: 0;
     left: 0;
     height: 1px;
     width: 100%;
     background-color: #a1a19f;
     max-width: 772px;
     z-index: -1;
     margin: auto;
     bottom: auto;
}
