@import "./../styles/settings/fonts.scss";
.sectionWrapper {
     margin-bottom: 120px;
     table {
          font-family: $primary-font;
          padding-left: 24px;
          padding-right: 73px;
          table-layout: fixed;
          width: 100%;
          thead {
               font-weight: 600;
               width: 100%;
               tr {
                    display: flex;
                    width: 100%;
               }
          }
          tbody {
               tr {
                    display: inline-flex;
                    flex-flow: column;
               }
          }
     }
     h5 {
          color: var(--black);
          font-family: $primary-font;
          font-size: 2.75rem;
          font-weight: $header-weight;
          font-weight: 400;
          line-height: 1.05; /* 46.2px */
          margin-bottom: 24px;
     }
     p {
          font-family: $primary-font;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.05;
          margin-bottom: 32px;
     }
     a {
          font-family: $secondary-font;
     }
     thead {
          background-color: var(--darkcream);
          td {
               height: 72px;
               padding: 27px 15px;
               text-align: start;
               width: calc(100% / 3);
               &:not(:first-of-type) {
                    text-align: center;
               }
          }
     }
     tbody {
          display: flex;
          tr {
               text-align: start;
               width: 100%;
               td {
                    background-color: var(--cream);
                    height: 72px;
                    padding: 27px 15px;
                    &:nth-child(even) {
                         background-color: var(--darkcream);
                    }
               }
               &:not(:first-of-type) {
                    text-align: center;
               }
          }
     }
}
