@import "../styles/settings/fonts.scss";
@import "../styles/settings/mixins.scss";

.reviewWrapper {
     display: flex;
     gap: 32px;
}
.reviewHeader {
     display: flex;
     justify-content: space-between;
     margin-bottom: 66px;
     h4 {
          font-size: $text-xl-font;
          font-family: $primary-font;
          line-height: 1.05;
          font-weight: $text-weight;
     }
     a {
          margin-left: auto;
     }
}
.reviewHeading {
     display: flex;
     align-items: center;
     gap: 16px;
     padding-bottom: 24px;
     .reviewHeadContent {
          p {
               font-family: "Libre Baskerville", serif;
               font-size: $text-md-font !important;
               line-height: 1.05 !important;
               font-weight: 600 !important;
               margin-bottom: 6px;
          }
          span {
               font-family: "Libre Baskerville", serif;
               display: block;
               font-size: $base-font;
               font-weight: 400 !important;
               line-height: 1.05;
          }
     }
}
.reviewBox {
     height: auto;
     max-width: 429px;
     width: 100%;
     flex-shrink: 0;
     padding: 32px 40px 32px 32px;
     background-color: var(--darkcream);
}

.reviewHead {
     position: relative;
     height: 80px;
     width: 80px;
     border-radius: 50%;
     overflow: hidden;
}
.reviewImg {
     position: absolute;
     @include background-img-position;
}
.reviewContent {
     font-size: 1.125rem;
     font-weight: 400;
     line-height: 1.65;
}
