@import "../styles/settings/fonts.scss";
@import "../styles/settings/mixins.scss";
.toDo {
     margin-bottom: 120px;
     h5 {
          color: var(--black);
          font-family: Baskerville;
          font-size: 2.75rem;
          font-weight: 400;
          line-height: 1.05; /* 46.2px */
          margin-bottom: 24px;
          text-align: center;
     }
     p {
          color: var(--black);
          font-family: Oxygen;
          font-size: 1.375rem;
          font-weight: 400;
          line-height: 1.6; /* 36.3px */
          margin: 0 auto;
          max-width: 717px;
          text-align: center;
          width: 100%;
     }
}

.todoItem {
     background-color: var(--darkcream);
     border-radius: 50px;
     display: flex;
     justify-content: space-between;
     margin: 32px auto 56px auto;
     max-width: 596px;
     width: 100%;
     button {
          align-items: center;
          border-radius: 70px;
          display: flex;
          font-family: Baskerville;
          font-size: $text-font;
          font-weight: 400;
          justify-content: center;
          line-height: 1.65; /* 29.7px */
          margin: 5px;
          max-width: 184px;
          padding: 7px 51px;
          text-align: center;
          transition: background-color 300ms ease-in;
          width: 100%;
          &:hover,
          &:focus {
               background-color: var(--black);
               color: var(--cream);
          }
     }
     .active {
          background-color: var(--black);
          color: var(--darkcream);
     }
}
.rowbg {
     background-color: transparent;
     opacity: 100%;
     transition: opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.rowAnimated {
     opacity: 0%;
}
.todoAnimation {
     // padding: 80px;
     background-color: var(--black);
}

.todoItems {
     background-color: var(--darkcream);
     display: flex;
     position: relative;
}
.todocontentImage {
     background-color: var(--black);
     background-repeat: no-repeat;
     background-size: contain;
     height: 676px;
     max-width: 676px;
     overflow: hidden;
     padding: 80px;
     position: relative;
     width: 100%;
     // border: 80px solid var(--black);
     z-index: 1;
}
.todoContentWrapper {
     background-color: var(--darkcream);
     display: flex;
     flex-flow: column;
     justify-content: center;
     padding-left: 60px;
     padding-right: 60px;
     h5 {
          font-family: $primary-font;
          font-size: $text-lg-font;
          font-weight: $header-weight;
          line-height: 1.05;
          margin-bottom: 24px;
          text-transform: capitalize;
     }
     p {
          font-size: $text-font;
          &:last-of-type {
               font-size: $primary-font;
               font-size: 1.75rem;
          }
     }
}
