@import "./colors.scss";
@import "./fonts.scss";

//headers

$h1-header: $text-xxl-font;
$h2-header: $text-xl-font;
$header-quote: 5rem;

h1 {
     font-family: $primary-font;
     font-size: 4rem;
     line-height: 1.05;
     font-weight: $header-weight;
}

p {
     font-family: $secondary-font;
     color: rgba($primary-color, 0.9);
     font-size: $text-font;
     line-height: 1.65;
     font-weight: $text-weight;
}
